<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/owl.carousel.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" type="image/x-icon" href="/assets/atcfav.ico">

  <title>ATC Couriers Admin Panel</title>
</head>

<body>


  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>


  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-between">
          <div>
            <a href="#" class=""><span class="mr-2  icon-envelope-open-o"></span> <span
                class="d-none d-md-inline-block">bookings@atccouriers.com.au</span></a>
            <span class="mx-md-2 d-inline-block"></span>
          </div>

          <div><a href="/logout" class=""><span class="mr-2 icon-sign-out"></span> <span
                class="d-none d-md-inline-block">Logout</span></a>
            <span class="mx-md-2 d-inline-block"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

    <div class="container">
      <div class="row align-items-center position-relative">
        <div class="site-logo">
          <a href="/dashboard" target="_blank" class="text-black"><span class="text-primary"><img src="/assets/logo.png"
                width="100" alt=""></a>
        </div>
        <div class="col-12">
          <nav class="site-navigation text-right ml-auto " role="navigation">
            <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
              <li><a href="/admin/all" class="nav-link">All Bookings</a></li>
              <li><a href="/admin/cancel-booking" class="nav-link">Cancel Booking</a></li>
              <li><a href="/admin/suburb-add" class="nav-link">Suburb Add</a></li>
              <li><a href="/admin/suburb-remove" class="nav-link">Suburb Remove</a></li>
            </ul>
          </nav>
        </div>

        <div class="toggle-button d-inline-block d-lg-none"><a href="#"
            class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

      </div>
    </div>

  </header>

  <!-- <div class="container"> -->
  <table class="table table-striped" style="padding: 0 20px;">
    <thead>
      <tr>
        <th scope="col">Job Id</th>
        <th scope="col">Booking Date</th>
        <th scope="col">Ref</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Service</th>
        <th scope="col">Cost</th>
        <th scope="col">Booked For</th>
        <th scope="col">Status</th>
        <th scope="col">Cancel</th>
      </tr>
    </thead>
    <% if(bookings.length !==0) {%>
      <tbody>
        <% bookings.map((booking,index)=>{ %>
          <tr>
            <td>
              <%=booking.jobId%>
            </td>
            <td>
              <%=booking.bookingDate%>
            </td>
            <td>
              <%=booking.deliveryDetails.jobReference%>
            </td>
            <td>
              <%=booking.pickupDetails.addressDetails.suburb%>
            </td>
            <td>
              <%=booking.deliveryDetails.addressDetails.suburb%>
            </td>
            <td>
              <%=booking.deliveryPriority.serviceType.toUpperCase()%>
            </td>
            <td>
              <%=booking.cost%>
            </td>
            <td>
              <%=booking.deliveryPriority.pickupDateTime.split("T")[0]%>
                <%=booking.deliveryPriority.pickupDateTime.split("T")[1]%>
            </td>
            <td>
              <%=booking.jobStatus%>
            </td>
            <td class="text-center">
              <% if(booking.jobStatus !=="CANCELLED" ) {%>
                <button type="button" onclick="cancelJob('<%=booking._id%>')" class="btn btn-danger text-center">Cancel
                  the
                  Job</button>
                <% } else if(booking.jobStatus==="CANCELLED" ) {%>
                  <button type="button" onclick="cancelJob('<%=booking._id%>')"
                    class="btn btn-danger text-center">Refund
                    the
                    Job</button>
                  <% } else {%>
                    -
                    <% } %>
            </td>
          </tr>
          <% }) %>

            <!-- <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
                <td>@twitter</td>
              </tr> -->
      </tbody>
      <% } else{%>
        <h1>No Active Booking</h1>
        <% } %>
  </table>
  <!-- </div> -->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/main.js"></script>
  <script src="js/app.js"></script>
</body>

</html>