<%- include('./partials/_payment', {TITLE: title}) %>
    <nav style="z-index: 9999;">
        <div class="burger" id='burger'>
            <img class="burger__vector" src="/assets/burger.png" alt="burger Vector" />
        </div>
        <ul id="navLinks">
            <div class="burger burger__close" id='burger-alt'>
                <img class="burger__vector" src="/assets/close.svg" alt="burger Vector" />
            </div>
            <li class="nav-col"><a href="/booking">Bookings</a></li>
            <li id="empty"></li>
            <li class="dropdown" id="dropdown">
                <div class="accordian-label dropbtn nav-col"><a href="/dashboard">Dashboard</a><img
                        src="/assets/arrow-down.svg" alt=""></div>
                <div class="dropdown-content"><a href="/account/settings">Account Settings</a></div>
            </li>
            <li id="empty"></li>
            <li><a href="/booking/history">Booking History</a></li>
            <li><a href="/logout">Logout</a></li>
            <img src="/assets/logo.png" class="logo" alt="logo" />
        </ul>
        <img src="/assets/logo.png" class="logo" alt="logo" />
        <script>
            // Nav Opener
            const burger = document.getElementById('burger');
            const burgerClose = document.getElementById('burger-alt')
            const navLinks = document.getElementById('navLinks')
            burger.onclick = () => {
                navLinks.style.display = 'flex';
            }
            burgerClose.onclick = () => {
                navLinks.style.display = 'none';
            }
            const dashboard = document.getElementById('empty');
            const accSettings = document.getElementById('dropdown');

            const navDisplay = window.matchMedia("(max-width: 768px)");
            if (navDisplay.matches) {
                console.log("mobile layout")
                dashboard.innerHTML = '<a href="/dashboard">Dashboard</a>';
                accSettings.innerHTML = '<a href="/account/settings">Account Settings</a>';
                accSettings.classList.add('nav-col');
            }
            else {
                dashboard.innerHTML = '';
                accSettings.innerHTML = `<div class="accordian-label dropbtn nav-col">Dashboard<img src="../assets/arrow-down.svg" alt=""></div> <div class="dropdown-content"><a href="#">Account Settings</a></div >`;
                dashboard.classList.add('nav-col');
            }
        </script>
    </nav>
    <div class="anim-container">
        <div class="animation success-anim" id="anim"></div>
    </div>
    <div class="anim-text text-container__success">
        <h3>Your job has been booked. Your Job ID is <span>
                <%=jobId%>
            </span></h3>
        <div class="anim-buttons">
            <a href="<%=label%>" target="_blank" class="anim-btn" id="anim1">See Label</a>
            <a href="/booking/detail/<%=_id%>?d=<%=date%>" class="anim-btn" id="anim2">Job Details</a>
        </div>
    </div>

    <script src="/js/lottie.js"></script>
    <script src="/js/success.js"></script>
    <%- include('./partials/_footer') %>